{% extends 'base.html' %}

{% load urlify %}

{% block head_title %} 
	{{ instance.title }} | {{ block.super }} 
{% endblock head_title %}

{% block content %}
	<div class="col-sm-6 col-sm-offset-3">

		{% if instance.image %}
		<img src="{{ instance.image.url }}" class="img-responsive" alt="{{ instance.title }}" width="100%">
		{% endif %}

		<h2>{{ instance.title }} <small>{{ instance.created | timesince }} ago</small></h2>

		{% if instance.user.get_full_name %}
		<span>Author: {{ instance.user.get_full_name }}</span> <br/> 
		{% endif %}

		<p>
			<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			<br/>
		</p>

		<p>
		<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
		<a href="https://twitter.com/home?status={{ instance.content | truncatechars:50 | urlify }}%20{{ request.build_absolute_uri }}">Twitter</a>
		<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
		<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">Linkedin</a>
		<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a> -->
		</p>

		<p>
			{{ instance.content | linebreaks }}
		</p>
		<br/>
		<hr/>
		<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
	</div>
{% endblock content %}