{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Posts</h1>

		<form method="GET" action="">
			<input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}" />
			<input type="submit" name="Search" />
		</form>

		{% for obj in queryset %}
		<div class="row">
			<div class="col-sm-12">
				<div class="thumbnail">

				{% if obj.image %}
		     	 <img src="{{ obj.image.url }}" class="img-responsive" alt="{{ obj.title }}" width="100%">
	     	 	{% endif %}

			      <div class="caption">
			      {% if obj.draft %}<h3>Staff Only:Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
			        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small>{%if obj.draft %}<small style="color: red;">Draft</small>{% endif %} {{ obj.publish }}</small></h3>
			        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p> {% endif %}
			        <p>{{ obj.content | linebreaks | truncatechars:120 }}</p>
			        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">view</a></p>
			      </div>
			    </div>
			 </div>
		</div>
		{% endfor %}

		<div class="pagination">
		    <span class="step-links">
		        {% if queryset.has_previous %}
		            <a href="?page={{ queryset.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
		        </span>

		        {% if queryset.has_next %}
		            <a href="?page={{ queryset.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
		        {% endif %}
		    </span>
		</div>

	</div>
{% endblock content %}
