{% extends 'base.html' %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
		<h3>Post Form</h3>
		<div class="row">
			<div class="col-sm-12">
				<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="btn btn-primary btn-sm" value="create post" name="submit"/>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}