<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact form</title>

    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding:0;
        }
        .errorlist li {
            background-color: red;
            color: #FFFFFF;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>

</head>
<body>
    <h2>Contact Us</h2>

    <div>
        {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{form.errors|pluralize}} below.
        </p>
        {% endif %}

        <form action="" method="post">
            <div class="field">
                {{ form.subject.errors }}
                <label for="id_subject">Subject:</label>
                {{ form.subject }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                <label for="id_email">E-mail:</label>
                {{ form.email }}
            </div>
            <div class="field">
                {{ form.message.errors }}
                <label for="id_message">Message:</label>
                {{ form.message }}
                <!--<div class="field{% if form.message.errors %} errors{% endif %}">-->
                    <!--{% if form.message.errors %}-->
                        <!--<ul>-->
                        <!--{% for error in form.message.errors %}-->
                            <!--<li><strong>{{ error }}</strong></li>-->
                        <!--{% endfor %}-->
                        <!--</ul>-->
                    <!--{% endif %}-->
                    <!--<label for="id_message">Message:</label>-->
                    <!--{{ form.message }}-->
                <!--</div>-->
            </div>
            {% csrf_token %}
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>