<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title%} | books</title>
</head>
<body>
    <div>
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>