<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    Current date: {{ current_date }} <br/>
    Current time: {{ current_time }}
</body>
</html>