<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
</head>
<body>
    <h2>You searched for: <strong>{{ query }}</strong></h2>

    {% if books %}
    <div>
        <p>Found {{books|length }} book{{ books|pluralize}}</p>
        <ul>
            {% for book in books %}
            <li>{{ book.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>No matched your search criteria.</p>
    {% endif %}
</body>
</html>