<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h3>Search FORM</h3>
    <div>
    {% if errors %}
        {% for error in errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    {% endif %}
    </div>

    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" name="Search">
    </form>

</body>
</html>